{
  "openapi": "3.0.0",
  "info": {
    "title": "Enroll",
    "version": "1.0",
    "description": "Мерчант дэлгүүрийн бүртгэлтэй холбоотой апи функцүүд",
    "contact": {
      "name": "SCOPA team",
      "email": "devsupport@scopa.mn",
      "url": "http://www.scopa.mn/"
    }
  },
  "servers": [
    {
      "url": "http://merchant.scopa.mn",
      "description": "Merchant"
    }
  ],
  "paths": {
    "/saveBoCidSelfie": {
      "post": {
        "summary": "Save business owner CID selfie",
        "operationId": "",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {}
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enrolliId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enrollId": {
                    "description": "Дэлгүүрийн нэр",
                    "type": "number"
                  },
                  "imagePath": {
                    "type": "string"
                  }
                },
                "required": [
                  "enrollId",
                  "imagePath"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "enrollId": 0,
                    "imagePath": "CID/SELFIE/selfie.png"
                  }
                }
              }
            }
          },
          "description": "Дэлгүүрийн мэдээлэл хадгалах функц"
        },
        "description": "Бизнес эрхлэгчийн иргэний үнэмлэхийн ард талын зураг хадгалах"
      },
      "parameters": []
    },
    "/saveBoFingerprint": {
      "post": {
        "summary": "Save business owner fingerprint",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Бизнес эрхлэгчийн иргэний үнэмлэхийн урд талын зураг хадгалах",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enrollId": {
                    "type": "number"
                  },
                  "imagePath": {
                    "type": "string"
                  }
                },
                "required": [
                  "enrollId",
                  "imagePath"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "enrollId": 0,
                    "imagePath": "FP/fingerprint.png"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "operationId": ""
      },
      "parameters": []
    },
    "/saveBoLoginInfo": {
      "post": {
        "summary": "Save business owner login information",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enrollId": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Бизнес эрхлэгчийн нэвтрэх мэдээллийг хадгалах",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enrollId": {
                    "type": "number"
                  },
                  "mobileNo": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                },
                "required": [
                  "enrollId",
                  "mobileNo",
                  "email"
                ]
              }
            }
          },
          "description": ""
        }
      },
      "parameters": []
    },
    "/enterBoInfo": {
      "post": {
        "summary": "Enter business owner information",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enrollId": {
                    "description": "Бизнес эрхлэгчийн төрөл",
                    "type": "number"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "registerCode": {
                    "type": "string"
                  }
                },
                "required": [
                  "enrollId",
                  "lastName",
                  "firstName",
                  "registerCode"
                ]
              },
              "examples": {}
            }
          },
          "description": "Бизнес эрхлэгчийн мэдээлэл хадгалах функц"
        },
        "description": "Бизнес эрхлэгчийн мэдээллийг оруулах"
      },
      "parameters": []
    },
    "/saveBoCidBack": {
      "post": {
        "summary": "Save business owner CID back",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Бизнес эрхлэгчийн сэлфи зураг хадгалах",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enrollId": {
                    "type": "number"
                  },
                  "imagePath": {
                    "type": "string"
                  }
                },
                "required": [
                  "enrollId",
                  "imagePath"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "enrollId": 0,
                    "imagePath": "CID/BACK/back.png"
                  }
                }
              }
            }
          },
          "description": ""
        }
      },
      "parameters": []
    },
    "/saveBoCidFront": {
      "post": {
        "summary": "Save business owner CID front",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enrollId": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imagePath": {
                    "type": "string"
                  }
                },
                "required": [
                  "imagePath"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "imagePath": "CID/FRONT/front.png"
                  }
                }
              }
            }
          }
        },
        "description": "Бизнес эрхлэгчийн иргэний үнэмлэхийн урд талын зураг хадгалах"
      },
      "parameters": []
    },
    "/verifyMobile": {
      "post": {
        "summary": "Verify mobile number",
        "operationId": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Утасны дугаар баталгаажуулах",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enrollId": {
                    "type": "number"
                  },
                  "tan": {
                    "type": "string"
                  }
                },
                "required": [
                  "enrollId",
                  "tan"
                ]
              }
            }
          }
        }
      }
    },
    "/registerBo": {
      "post": {
        "summary": "Register business owner",
        "operationId": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Бизнес эрхлэгч бүртгэх",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enrollId": {
                    "type": "number"
                  },
                  "pin": {
                    "type": "string"
                  }
                },
                "required": [
                  "enrollId",
                  "pin"
                ]
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "NESSESSION": {
        "name": "API Key",
        "type": "apiKey",
        "in": "query",
        "description": ""
      }
    }
  }
}